*
{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body
{
    background-color: rgb(241, 243, 255);
}

.logreg-form
{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logreg-wrapper
{
    display: flex;
    height: max-content;
    width: max-content;
    padding: 20px 40px;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(231, 234, 255);
    margin-bottom: 160px;
}

.logreg-input-div-label
{
    position: relative; 
    height: 30px;
}

.logreg-input-div-label > label
{
    position: absolute;
    left: -10px;
    top: 0;
}

.logreg-wrapper > div
{
    display: flex;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    flex-direction: column;
}
.logreg-title
{
    display: flex;
    text-align: center;
    margin-bottom: 30px;
}
.logreg-title > h1
{
    font-size: 30px;
}
.logreg-submit-div
{
    display: flex;
    text-align: center;
    margin-top: 30px;
}
.logreg-submit-but-div
{
    display: flex;
    justify-content: end;
    text-align: center;
    margin-bottom: 20px;
}
.logreg-submit-div > div > button
{
    padding: 3px 10px;
    font-weight: 800;
    background-color: rgb(33, 40, 99);
    border-radius: 5px;
    color: white;
}
.logreg-submit-div > div > a
{
    text-decoration: underline;
}

.logreg-input-div > input
{
    background-color: rgb(231, 234, 255);
    border: none;
    height: min-content;
    border-bottom: 2px solid black;
    padding: 0px;
}

.logreg-input-div > input:focus
{
    border-color: inherit;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid black;
}

.nav-wrapper
{
    display: flex;
    position: relative;
    width: 100%;
    height: 60px;
    align-items: center;
    flex-direction: row;
    background-color: rgb(231, 234, 255);
}
.nav-link-last > button
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto 0;
    font-weight: bold;
    color: rgb(182, 0, 0);
    transition: all 0.2s;
}


.nav-link-last > button
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto 0;
    font-weight: bold;
    color: rgb(182, 0, 0);
    transition: all 0.2s;
}
.nav-link-last > button:hover
{
    color: red;
}
.nav-link-last > p
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    margin: 0;
    font-weight: bold;
    transition: all 0.2s;
}
.nav-wrapper > a
{
    display: flex;
    height: 100%;
}
.nav-wrapper > a > div
{
    display: flex;
    height: 100%;
    text-align: center;
    align-items: center;
    padding: 5px 10px;
}
.nav-wrapper > a > div > p
{
    font-weight: 600;
    padding: 5px 10px;
}
.nav-wrapper > a > div > p:active
{
    background-color: rgb(83, 83, 255);
    border-radius: 5px;
    color: white !important;
}

.nav-wrapper > a > div > p:hover
{
    color: rgb(83, 83, 255);
}

.nav-link-selected
{
    background-color: rgb(83, 83, 255);
    border-radius: 5px;
    color: white;
}
.nav-link-selected:hover
{
    color: whitesmoke !important;
}
.nav-link-user
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-link-img
{
    height: 25px;
}

.user-icon-noselected
{
    content:url(/img/user.svg);
}
.user-username
{
    transition: all 0.1s;
}

.user-icon-selected
{
    content:url(/img/user-selected.svg);
}

.nav-link:hover > .room-icon-noselected
{
    
    content:url(/img/room.svg);
}
.room-icon-noselected
{
    content:url(/img/room.svg);
}

.room-icon-selected
{
    content:url(/img/room-selected.svg);
}

.settings-icon-selected
{
    content:url(/img/settings-selected.svg);
}

.nav-link:hover > .settings-icon-noselected
{
    
    content:url(/img/settings.svg);
}
.settings-icon-noselected
{
    content:url(/img/settings.svg);
    margin-right: 3px;
}

.settings-icon-selected
{
    content:url(/img/settings-selected.svg);
    margin-right: 3px;
}
.superadmin-wrapper
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.wrapper-admin
{
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.admin-index-div
{
    display: flex;
    margin-bottom: 200px;
    padding: 50px 100px;
    background-color: rgb(231, 234, 255);
    border-radius: 10px;
    font-size: 30px;
}
.admin-index-div > p
{
    font-weight: bold;
}


.wrapper
{
    display: flex;
    min-width: 100vw;
    /* min-height: 100vh; */
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center;
    justify-content: center; */
}

.admin-header
{
    display: flex;
    width: 100%;
    justify-content: end;
    padding-top: 20px;
    padding-right: 20px;
}

.admin-header > a
{
    color: green;
    text-decoration: underline;
    font-weight: bold;
}

.card-a
{
    display: flex;
    width: 220px;
    height: 300px;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 40px;
    border-radius: 4px;
    margin: 10px;
}
.card
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}
.card-img
{
    display: flex;
    width: 100%;
    height: 60%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.card-img > img
{
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card-info
{
    display: flex;
    width: 100%;
    height: 40%;
    flex-direction: column;
    border-radius: 20px;
}
.card-title
{
    display: flex;
    background-color: white;
    padding: 0px 10px;
    height: 40%;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 6px; */
}
.card-title > h1
{
    font-size: large;
    font-weight: bold;
}
.card-little-info
{
    background-color: white;
    padding: 0px 10px;
    color: gray;
    font-size: small;
    height: 20%;
    padding-top: 3px;
}
.card-price
{
    display: flex;
    background-color: white;
    padding: 0px 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 40%;
    border-radius: 4px;
    margin-bottom: 2px;
}
.card-price > p
{
    font-weight: bold;
    font-size: larger;
}
.card-first-span
{
    padding-right: 2px;
}

.show-wrapper
{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: calc(100vh - 60px);
    align-items: center;
    justify-content: center;
}
.show-div
{
    display: flex;
    flex-direction: column;
    width: 55vw;
    min-height: calc(100vh - 60px);
    align-items: center;
    background-color: white;
}
.active-img
{
    width: 70vw;
}
.show-img-div
{
    position: relative;
    margin-bottom: 10px;
}
.img-prev
{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.img-next
{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.img-list {
    display: flex;
    margin-left: 5px;
    justify-content: start;
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
    padding-bottom: 5px;
}

.show-description-div
{
    display: flex;
    flex-direction: column;
    width: 55vw;
    text-align: start;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.show-info-div
{
    display: flex;
    justify-content: center;
    width: 55vw;
    padding-top: 5px;
}
.show-info-div > span
{
    color: gray;
}
.show-availability
{
    margin-right: 3px
}
.show-location
{
    margin-left: 3px
}

.show-price-div
{
    display: flex;
    justify-content: center;
    width: 55vw;
    padding-top: 5px;
}

.show-price-div > p
{
    font-weight: bold;
    font-size: 40px;
}

.show-book-div
{
    display: flex;
    justify-content: center;
    width: 55vw;
    padding-top: 5px;
}
.show-book-div > a
{
    font-size: 17px;
    background-color: rgb(33, 40, 99);
    padding: 5px;
    top: 3px;
    right: 3px;
    font-weight: 600;
    color: white;
    border-radius: 3px;
}

.show-title-div
{
    display: flex;
    justify-content: start;
    width: 55vw;
    padding-top: 5px;
    padding-left: 5px;
    font-weight: bold;
    font-size: 20px;
}







@media (max-width: 600px) {
    .show-div
    {
        width: 100vw;
    }
}